.products {
    
}
.title_product {
        text-align: center;
        padding-bottom: 20px;
}
.product {
    overflow: hidden;
    
    .img_product {
        float: left;
    }
    .body_product {
        float: left;
        width: 50%;
    }
    .add_variants {
        float: left;
    }
    
}
.add_variants_container {
    width: 60%;
    margin: 0 auto;
    
    .variants {
        
        .form-inline {
            .form-group {
                input {
                    margin: 10px;
                }
            }
        }
    }
}

.img_thumb_product {
    height: 30%;
    width: auto;
    padding-left: 20px;
    
}
.list_products_variants {
    width: 80%;
    margin: 0 auto;
}
.modal-dialog {
    width: 650px;
}