<script type="text/javascript">

$(document).ready(function(){
    
    // $(function() {
      $("#add_variant").click(function(e) {
        e.preventDefault();
        $(".add_variants").append('<div class="form-inline">' + 
            '<div class="form-group">' + 
            '<input type="country" name="country[]" class="form-control" placeholder="Name Country">' +
            '</div>' +
            '<div class="form-group">' +
            '<input type="price" name="price[]" class="form-control" placeholder="Price">' +
            '</div>' +
            '<div class="form-group">' +
            '<input type="currency" name="currency[]" class="form-control" placeholder="Currency">' +
            '</div>' + 
            '<button type="submit" class="btn btn-danger remote_variant">Remote</button>' +
            '</div>');
      });
    // });
    
    $(document).on("click", ".remote_variant",function(e){
        e.preventDefault();
        $(this).parents(".form-inline").remove();
    });
    
});
</script>


<h3 class="title_product"><%= @product.title %></h3>
<div class="product">
    <div class="img_product">
        <%= image_tag("#{@product.image.src()}", :alt => "image", class: "") unless @product.image.blank? %>
    </div>
    <div class="body_product">
        <%= @product.body_html.html_safe %>
    </div>
</div>
<div class="add_variants_container">
    <div class="add_variants">
        <button id="add_variant" class="btn btn-info">Add Variant</button>
        <div class="form-inline">
            <div class="form-group">
                <input type="country" name="country[]" class="form-control" placeholder="Name Country">
            </div>
            <div class="form-group">
                <input type="price" name="price[]" class="form-control" placeholder="Price">
            </div>
            <div class="form-group">
                <input type="currency" name="currency[]" class="form-control" placeholder="Currency">
            </div>
            <!--<button type="submit" class="btn btn-primary">Remote</button>-->
        </div>
    </div>
    <div class="save_variants">
        <button id="save" class="btn btn-success">Save</button>
    </div>
</div>
