<div class="products">
     <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @products.each do |product| %>
            <tr>
                <td><%= image_tag("#{product.image.src()}", :alt => "image", class: "img_thumb_product") unless product.image.blank? %> </td>
                <td><%= link_to "#{product.title}", product_path(product) %></td>
            </tr>
            <% end %>
        </tbody>
     </table>
</div>